---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$navbar-height:                    100px !default;
$navbar-default-bg:                #ffffff;
$navbar-padding-vertical:          20px !default;
$navbar-padding-horizontal:        730px !default;

$table-bg:                         transparent !default;
$table-bg-hover:                   #d0dfdd !default;
$table-bg-active:                  #d0dfdd !default;

$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif !default;



// Import partials from the `minima` theme.
@import "bootstrap";

body {
    padding:120px;

}

.navbar-brand {
    > img {
        width:300px;
        height:50px;
    }
}

img {
        width:100%;
}

h3 {
        margin-top: 40px;
        margin-bottom: 20px;

}

li {
        line-height: 1.6;

}

dd {


}